In [1]:
import pandas as pd

In [10]:
data = pd.DataFrame([
    {
        'ticker': '4GLD.DE', 
        'opening_time': pd.Timestamp('2026-02-02T09:22', tz='Europe/Warsaw'), 
        'volume': 0.3492, 
        'action': 'position_open',
        'opening_price': 125.9800,
        'opening_exchange_rate': 4.2316,
        'last_modified': pd.Timestamp.now(tz='Europe/Warsaw')
    },
    {
        'ticker': 'IUSQ.DE', 
        'opening_time': pd.Timestamp('2026-02-02T09:04', tz='Europe/Warsaw'), 
        'volume': 0.6275, 
        'action': 'position_open',
        'opening_price': 93.270,
        'opening_exchange_rate': 4.235,
        'last_modified': pd.Timestamp.now(tz='Europe/Warsaw')
    },
    {
        'ticker': 'ETFBTBSP.PL', 
        'opening_time': pd.Timestamp('2026-02-02T09:05', tz='Europe/Warsaw'), 
        'volume': 0.6275, 
        'action': 'position_open',
        'opening_price': 229.37,
        'opening_exchange_rate': None,
        'last_modified': pd.Timestamp.now(tz='Europe/Warsaw')
    }
])

In [ ]:
data.to_csv('data/positions.csv', index=False)

,ticker,opening_time,volume,action,opening_price,opening_exchange_rate,last_modified
0,4GLD.DE,2026-02-02 09:22:00+01:00,0.3492,position_open,125.98,4.2316,2026-02-05 17:17:54.255209+01:00
1,IUSQ.DE,2026-02-02 09:04:00+01:00,0.6275,position_open,93.27,4.2350,2026-02-05 17:17:54.255287+01:00
2,ETFBTBSP.PL,2026-02-02 09:05:00+01:00,0.6275,position_open,229.37,NaN,2026-02-05 17:17:54.255336+01:00